/* Navbar */
.navbar{
    box-shadow: 0px 4px 4px grey;
}

.navbar-nav .nav-link{
    text-transform: capitalize;
    color: white !important;
}

.navbar-nav .nav-link:hover{
    color: #63CCC5 !important;
}

.navbar-brand {
    background-color: white;
    padding: 10px 20px;
    margin-top: -10px;
    margin-bottom: -8px;
}

/* Slider */
.carousel-caption {
    background-color:rgba(126,126,126,0.6);
    width: 100%;
    height: 102px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding-bottom: -120px;
    font-size: 18px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Benefits */
.manfaat {
    margin-top: 40px;
}

.manfaat hr {
    width: 500px;
    border-top: 3px solid #000000;
}


/* Responsive Dekstop */
@media (min-width: 992px) {
    .navbar-nav .nav-link{
        margin-right: 20px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #63CCC5;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        color: #63CCC5 !important;
    }

    .navbar-brand, .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    /* Slider */
    .carousel-item {
        height: 645px;
    }

    .carousel-item img {
        background-size: cover;
    }

}