@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html, body {
    margin: 0;
    padding: 0;
}
/* Utitlity */
.btn-outline-success{
    border-color: #63CCC5;
    color: #63CCC5;
}

.btn-success{
    border-color: #63CCC5;
    background-color: #63CCC5;;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-success:hover{
    border-color: #63CCC5;
    background-color: #63CCC5;
    color: white;
}

.btn-outline-success:hover{
    border-color: #63CCC5;
    background-color: #63CCC5;
    color: #ffffff;
}

/* Navbar */
.navbar{
    box-shadow: 0px 4px 4px grey;
}

.navbar-nav .nav-link{
    text-transform: capitalize;
    color: white !important;
}

.navbar-nav .nav-link:hover{
    color: #63CCC5 !important;
}

.navbar-brand {
    background-color: white;
    padding: 10px 20px;
    margin-top: -10px;
    margin-bottom: -8px;
}

/* Slider */
.carousel-caption {
    background-color:rgba(126,126,126,0.6);
    width: 100%;
    height: 102px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding-bottom: -120px;
    font-size: 15px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Benefits */
.manfaat {
    margin-top: 40px;
}

.manfaat hr {
    width: 200px;
    border-top: 2px solid #000000;
}

/* Multi Platform */
.platform{
    background-image: url("../img/bg2.jpg");
    height: 534px;
    background-size: cover;
    position: relative;
}

.layer-platform{
    background-color: rgba(80, 80, 80, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-platform img {
    width: 330px;
    margin-top: 50px;
}

/* Already Use */
.lembaga-title {
    margin-top: 50px;
}


/* Footer */
footer {
    /* position:absolute; */
    width: 100%;
    height: auto;
    bottom:0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    border-top: 10px solid #63CCC5;
}

.social a {
    font-size: 2em;
    padding: 2rem;
    color: white;
}
.social a:hover{
    color: #63CCC5; ;
}

.my-form {
    padding-top: 150px;
    padding-bottom: 100px;       
    }
   
.card-header {
    background-color: #484848;
    padding-top: 1rem;
    border-top: 10px solid #63CCC5;
    color: #FEFCFC;
    font-family: Roboto;
    font-style: normal;
    font-size: 35px;
    line-height: 41px;

    }
    
.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 100px;
   }
.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   }

/* Biaya */
.biaya-panel {
    background-color: #63CCC5;
    width: 276px !important;
    height: 462px;
    margin-top: 90px;
    margin-left: 60px;
    margin-bottom: 30px;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.biaya-panel .card-title{
    background-color: #FEFCFC;
    margin-top: 10px;
    height: 114px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    border-radius: 1rem;
}

.biaya-panel .card-body hr {
    border: 1px solid #ffffff;
}

.biaya-panel .card-body .enterprice {
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 0;
    margin-top: 30px;
}

.biaya-panel .card-body .try-it {
    margin-left: 35px;
    margin-top: 30px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}


.fitur-panel {
    background-color: #efefef;
    height: 340px;
    margin-top: 190px;
    margin-left: 20px;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}


.fitur-panel:last-child{
    margin-bottom: 60px;
}

.fitur-panel .card-title{
    background-color: #ffffff;
    margin-top: -50px;
    margin-left: 120px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-width: 1px; border-style: solid; border-color: #DDDDDD;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.card-title img {
    max-width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}


/* Responsive Dekstop */
@media (min-width: 992px) {
    .navbar-nav .nav-link{
        margin-right: 20px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #63CCC5;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        color: #63CCC5 !important;
    }

    .navbar-brand, .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    /* Slider */
    .carousel-item {
        height: 645px;
    }

    .carousel-item img {
        background-size: cover;
    }

    /* Benefits */
    .manfaat hr {
        width: 500px;
        border-top: 3px solid #000000;
    }

    /* Platfrom */
    .img-platform img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 120px;
    }

  /* Footer */
    footer {
<<<<<<< HEAD
        /* position:absolute; */
=======
        position: fixed !important;
>>>>>>> db542153f41b9e55b35bd22253b875f722490a27
        width: 100%;
        height: auto;
        bottom:0;
        left: 0;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 1rem;
        border-top: 10px solid #63CCC5;
    }

    @media (max-height:880px){
        footer { position: static; }
    }

<<<<<<< HEAD
    
=======
>>>>>>> db542153f41b9e55b35bd22253b875f722490a27
    .social a {
        font-size: 2em;
        padding: 2rem;
        color: white;
    }
    .social a:hover{
        color: #63CCC5; ;
    }

    .map-container-7{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-top: 100px;
        }
    .map-container-7 iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }
    .my-form
        {
            padding-top: 150px;
            padding-bottom: 100px;
           
        }

        @media screen and (max-width: 600px) {
            .raw, {
              width: 100%;
              margin-top: 0;
            }
          }
   
    .card-header {
        background-color: #484848;
        padding-top: 1rem;
        border-top: 10px solid #63CCC5;
        color: #FEFCFC;
        font-family: Roboto;
        font-style: normal;
        font-size: 35px;
        line-height: 41px;

    }

    /* Biaya */
    .biaya-panel {
        background-color: #63CCC5;
        height: 500px;
        margin-top: 110px;
        margin-left: 200px;
    }

    .biaya-panel .card-title{
        background-color: #FEFCFC;
        margin-top: 10px;
        height: 114px;
        padding-left: 40px;
        padding-top: 15px;
        border-radius: 1rem;
    }

    .fitur-panel:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
        background-color: #63CCC5;
        color: white;
        /* height: 400px; */
        margin-top: 180px !important;
        margin-bottom: 10px;
    }

    .fitur-panel .card-title{
        background-color: #ffffff;
        margin-top: -50px;
        margin-left: 70px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border-width: 1px; border-style: solid; border-color: #DDDDDD;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    }

}


