










.hipro {
    /* background-image: image(); */
    background-color: aquamarine;
    margin-top: 50px;
}

.hipro img {
    margin-top: 100px;
    
}

.testimonial {
    margin-top: 50px;
    min-height: 500px;
}

.testimonial hr {
    width: 500px;
    border-top: 3px solid #000000;
}

section {
    min-height: 420px;
}

footer {
    position:absolute;
    width: 100%;
    height:100px;
    bottom:0;
    background-color: black;
    color: cornsilk;
    text-align: center;
}